.about {
    padding-bottom: sp('spacing-11');

    .about__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: sp('spacing-11') 0;
        @include tablet2{
            display: block;
        }

        @include mobile{
            display: block;
        }
        &-item {
            display: flex;
            margin: 0 1rem;

            .about__icon {
                i {
                    font-size: fS('text-1lg');
                    color: c('orange');
                    padding-top: 0.85rem;
                    padding-left: 0.85rem;
                    width: 3.7rem;
                    height: 3.7rem;
                    border-radius: 50%;
                    background-color: c('orange-100');
                }
            }

            .about__content {
                padding-left: 1rem;

                h5 {
                    font-weight: fW('font-bold');
                }

                p {
                    font-size: fS('text-xs');
                    color: c('gray');
                }
            }
        }
    }

    .about__info {
        display: flex;
        @include mobile{
            display: block;
        }
        @include tablet2{
            display: block;
        }
        &-img {
            position: relative;

            img {
                max-width: 100%;
                border-radius: 75% 28% 32% 68% / 53% 52% 48% 47%;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
            }
        }

        // &-img:after {
        //     content: '';
        //     position: absolute;
        //     border: 1.5rem solid c('orange');
        //     width: 100%;
        //     height: 100%;
        //     top: -3%;
        //     left: 1%;
        //     z-index: -1;
        //     border-radius: 75% 28% 32% 68% / 53% 52% 48% 47%;
        // }

        &-content {
            padding-left: 2.5rem;

            h4 {
                span {
                    color: #fff;
                    background-color: c('orange');
                    padding: 0 0.5rem;
                }
            }

            h1 {
                padding: sp('spacing-5') 0;

                span {
                    color: c('orange');
                }
            }

            em {
                font-weight: fW('font-semibold');
            }

            p {
                padding: sp('spacing-5') 0;
                color: c('gray');
            }

            button {
                @include buttonClick('spacing-8', 'orange');
            }
            button:hover{
                background-color: #000;
                transition: all 0.2s ease-in-out;
            }

        }
    }
}