.header {
    $this: &;

    &__navbar {
        position: fixed;
        width: 100%;
        z-index: 999;

        &>a {
            font-size: fS('text-lg');
            font-weight: fW('font-semibold');
            color: #fff;

            i {
                color: c('orange');
            }
        }

        padding: 1.2rem 2rem;

        #{$this}__collapse {
            .navbar-nav {
                margin-left: auto;
            }
        }

        .header__collapse {
            .nav-item:first-child {
                .active-color {
                    color: c('orange');
                }
            }

            .nav-item {
                .nav-link {
                    color: #fff;
                    font-weight: fW('font-medium');
                }
            }
        }

        .header__form {
            position: relative;

            .header-input {
                border: none;
                border-radius: 2.5rem;
                height: 2.8rem;
                width: 13rem;
                padding: 0 1rem;
            }

            .header-input:focus {
                outline: none;
            }

            .header-submit {
                border: none;
                background-color: transparent;
                color: c('orange');
                position: absolute;
                right: 0;
                margin-right: 1rem;
            }
        }

        span {
            &>i:last-child {
                color: #fff;
                padding-left: 0.8rem;
                cursor: pointer;
            }
        }
    }


}